html,
body {
	height:100%;
	width:100%;
	background-color: #FEFEFE;
    font-family: "Helvetica Neue","Clear Sans", Arial, sans-serif;
}


.container{
  	margin:0;
  	padding:0;
  	height:100%;
  	width:100%;
}
/*InfoContainer*/
.infoContainer{
	width:40%;
	height:100%;
	float:right;
	display:table;

}

div#game-title{
	display: table-cell;
    vertical-align: middle;
}

h1#title{
    font-weight: 200;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color:#CDCDCD;
}

h4#timer{
    text-align: center;
    font-size: 4.5em;
    color:#CDCDCD;
}

/*End InfoContainer*/

/*Game Starts*/
.gameContainer{
	width:60%;
	height:100%;
	float:right;
	background:white;
	box-shadow:3px 0px 15px rgba(0, 0, 0, 0.13);
}

.container #game{
	height: 100%;
    width: 50%;
    margin: 0 auto;
}

div.title h1,
div.title h2{
	display: block;
}




div#game-inputs{
	float: right;
	margin-top: 320px;
	display:none;
}

div#game-inputs>table td{
	height: 40px;
	width: 40px;
}
div#game-inputs>table td>div{
	color: slategray;
    font-size: 25px;
    font-weight: bold;
}   

div#game-board-tiles{
	float: left;
	height: 500px;
	position: relative;
	width: 40%;
}

div#incoming-tiles{
	bottom: 0;
	width: 100%;
	position: absolute;
}

/*Game Ends*/

.arrow{
	text-align: center;
}

.game-modtile{
	color: red;
}